<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet"  type="text/css" href="public/css/style.css">


</head>
<body>

<ul>
    <li><a  href="/">Home</a></li>
    <li><a href="/login">LogIn</a></li>
    <li><a href="/Add">Register</a></li>

</ul>
<div  class="parallax">
    <br>
    <br>
    <br>
    <center>
        <form method="post" action="submit_login">
            <h1 style=" margin-right: 100px; ">LogIn|..</h1>
            <input type="text" placeholder="username" name="user" id="u1" required/>
            <br>
            <input type="password" placeholder="password" name="pass" id="p1" required/>
            <br>
            <br>
            <input type="submit" value="logIn" id="su"/>
        </form>

    </center>
</div>

</body>
</html>