<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateAcount</title>

    <link rel="stylesheet" type="text/css" href="public/css/style.css">



</head>

<body>


<ul>

    <li><a href="/">Home</a></li>
    <li><a href="/login">LogIn</a></li>
    <li><a href="/Add">Register</a></li>

</ul>
<div class="parallax">
<center>

   <form method ="post"  action="/AddInfo">
       <h2 style=" margin-right: 150px;">My Contact</h2>
    <input type="text" name="firstname"  placeholder="FirstName..." required/>
       <br>
    <input type="text" name="lastname"  placeholder="LastName..." required />
       <br>
    <input type="text" name="phone" id placeholder="phone..." required/>
       <br>
    <input type="email" name="mail" placeholder="mail..." required/>
       <br>
    <input type="text" name="username" id ="name" placeholder="username..." required />
       <br>
    <input type="password" name="pass"  placeholder="password..." required/>
       <br>
       <br>
    <input type="submit" id="acc"/>
   </form>
    <br>
</center>
</div>
</body>
</html>